/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 14, 2019, 4:51:52 PM
    Author     : MyPC
*/

#main-background{
    -fx-background-color: white;
}   

#main-background2{
    -fx-background-color: rgb(249,249,240);
}  

#line{
    -fx-background-color: rgb(51,51,51);
}

#header_font{
    -fx-text-fill: rgb(51,51,51);
}

#btn-green{
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#btn-blue{
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#btn-red{
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#btn-dark{
    -fx-background-color: rgb(51,51,51);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#btn-yellow{
    -fx-background-color: darkorange;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

#txt-tongtien{
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

#box-green{
    -fx-background-color: rgb(76,176,81);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#box-orange{
    -fx-background-color: rgb(247,142,1);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#box-blue{
    -fx-background-color: rgb(34,150,242);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#box-red{
    -fx-background-color: rgb(227,51,51);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#box-orange-sub{
    -fx-background-color: rgb(247,142,1);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-font-size: 18;
}

#box-blue-sub{
    -fx-background-color: rgb(34,150,242);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

#box-green-sub{
    -fx-background-color: rgb(76,176,81);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}
#box-red-sub{
    -fx-background-color: rgb(227,51,51);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

#box-white{
    -fx-background-color: white;
    
}